<body>
  <div class="container-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a routerLink="/programaAnios">
              <img class="img" src="assets/img/263-network-1.svg" />
            </a>
          </div>
          <div><h4 class="card-title">Información por programa</h4></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a routerLink="/economicos">
              <img class="img" src="assets/img/031-laptop-30.svg" />
            </a>
          </div>
          <div><h4 class="card-title">Información por económico</h4></div>
        </div>
      </div>
    </div>
  </div>
</body>
