#ingresos, #gastos {
  font-weight: 700 !important;
  margin-top: 10px;
  color: #ca3542;
  font-family: var(--fuente-principal);
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.ingresos {
  border: 10px, solid black;
  margin-top: 10px;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
  display: grid;
   grid-gap: 2rem;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 240px;
   justify-content: center;
 }

.gastos {
 border: 10px, solid black;
 margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
 display: grid;
  grid-gap: 2rem;
  /* grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 240px; */
  /* https://www.udemy.com/css-grid-y-flexbox-la-guia-definitiva-crea-10-proyectos/learn/v4/t/lecture/10276668?start=0 */
  /* grid area */
  /* Grid: row row / columns colums... */
  grid: 240px / 20% 30% 30% 20%;
  grid-auto-flow: dense;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .gastos {
    border: 10px, solid black;
    margin-top: 10px;
     margin-right: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 100%;

    justify-content: center;
   }

   .ingresos {
    border: 10px, solid black;
    margin-top: 10px;
     margin-right: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: center;
   }

   #ingresos, #gastos {
    font-weight: 700 !important;
    margin-top: 2px;
    color: #ca3542;
    font-family: var(--fuente-principal);
    font-size: 16px;
    /* text-shadow: 4px 4px 4px #aaa; */
  }
}

img{
width: 100%;
height: 100%;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em !important;
}

h3 {
  font-weight: 900!important;
  font-size: 35px !important;
  color: red
}

h4 {
  font-size: 18px !important;
}

h6 {
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}

.card-title{
  font-weight: 700 !important;
  margin-top: 10px;
  color: #3c4858;
  font-family: var(--fuente-principal);
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.card {
  border: 0;
  margin-bottom: 3px;
  margin-top: 20px;
  border-radius: 6px !important;
  color: rgba(0,0,0,.87);
  background: #fff;
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card.card-profile{
  text-align: center;
}

.card .card-header.card-header-image {
  position: relative;
  padding: 0;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  max-height: 215px;
}

.card .card-header.card-header-image .card-title {
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: #fff;
  font-size: 1.125rem;
  text-shadow: 0 2px 5px rgba(33,33,33,.5);
  font-weight: 700;
  font-family: var(--fuente-principal);;
}
