<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h2>Selecciona el programa del que quieres obtener infomación:</h2>
    </div>

    <div class="row justify-content-center">
      <select style="width: 450px;" class="chosen-select" id="chosen1">
        <option value="0">Pulsa para seleccionar un programa.</option>
        <option *ngFor="let dato of datos"> {{ dato }} </option>
      </select>
    </div>

    <div class="row justify-content-center" id="vizContainerPersonal"></div>
    <div class="row justify-content-center" id="vizContainerGastos1"></div>
    <div class="row justify-content-center" id="vizContainerGastos"></div>
    
  </div>
</body>
