<footer class="ae-container-fluid">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <p>
        <span>© </span>
        <span>{{ anio }} OCM Jerez. Ver 2.00.00</span>
      </p>
    </div>

    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a href="https://www.facebook.com/OcmJerez/" class="rk-social-btn ">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>

      <a href="https://twitter.com/ocmjerez" class="rk-social-btn ">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>

    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact ">
        <span class="ae-u-bold">Email: </span>
        <span>
          <a href="mailto:info@ocmjerez.org"
            >info@ocmjerez.org</a
          >
        </span>
      </p>

      <!-- <p class="rk-footer__text rk-footer__by">Theme by
        <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a>
      </p> -->
    </div>
  </div>
</footer>
